<?xml version='1.0' encoding='utf-8'?>
<widget id="com.common.news" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>مركز كومون الإعلامي</name>
    <description>
        أخبار السودان و العالم من مركز كومون الإعلامي
    </description>
    <author email="omaralfarouk@hotmail.com" href="http://phonegap.com">
        omyalpha
    </author>
    <content src="index.html" />
	<access origin="http://127.0.0.1*" />
	<access origin="http://webhosting.sd" subdomains="true" />
	<access origin=".*" /> 
	<icon src="icon.png" />
	<splash src="splash.png" />
	<allow-intent href="http://*/*" /> 
	<allow-intent href="https://*/*" /> 
	<allow-intent href="tel:*" /> 
	<allow-intent href="sms:*" /> 
	<allow-intent href="mailto:*" /> 
	<allow-intent href="geo:*" />
</widget>
